<a href="https://colab.research.google.com/github/vaishaliojha08-sys/FirstModel/blob/main/FirstModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv('/content/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
X = df.drop('Survived', axis=1)
y = df['Survived']

X.shape, y.shape

((891, 11), (891,))

In [3]:
y.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [6]:
most_frequent = y.mode()[0]
y_pred_baseline = [most_frequent] * len(y)

from sklearn.metrics import accuracy_score

baseline_acc = accuracy_score(y,y_pred_baseline)

print("baseline_acc",baseline_acc)

baseline_acc 0.6161616161616161