<a href="https://colab.research.google.com/github/vaishaliojha08-sys/FirstModel/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
#Load the dataset into the pandas dataframe

df = pd.read_csv("/content/books.csv")
df.head(10)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1.0,2767052,2767052,2792775,272,439023483,9.78043902348e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653.0,4942365.0,155254.0,66715,127936,560092.0,1481305.0,2706317.0,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2.0,3,3,4640799,491,439554934,9.78043955493e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479.0,4800065.0,75867.0,75504,101676,455024.0,1156318.0,3011543.0,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3.0,41865,41865,3212258,226,316015849,9.78031601584e+12,Stephenie Meyer,2005.0,Twilight,...,3866839.0,3916824.0,95009.0,456191,436802,793319.0,875073.0,1355439.0,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4.0,2657,2657,3275794,487,61120081,9.78006112008e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671.0,3340896.0,72586.0,60427,117415,446835.0,1001952.0,1714267.0,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5.0,4671,4671,245494,1356,743273567,9.78074327356e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664.0,2773745.0,51992.0,86236,197621,606158.0,936012.0,947718.0,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
5,6.0,11870085,11870085,16827462,226,525478817,9.78052547881e+12,John Green,2012.0,The Fault in Our Stars,...,2346404.0,2478609.0,140739.0,47994,92723,327550.0,698471.0,1311871.0,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
6,7.0,5907,5907,1540236,969,618260307,9.7806182603e+12,J.R.R. Tolkien,1937.0,The Hobbit or There and Back Again,...,2071616.0,2196809.0,37653.0,46023,76784,288649.0,665635.0,1119718.0,https://images.gr-assets.com/books/1372847500m...,https://images.gr-assets.com/books/1372847500s...
7,8.0,5107,5107,3036731,360,316769177,9.78031676917e+12,J.D. Salinger,1951.0,The Catcher in the Rye,...,2044241.0,2120637.0,44920.0,109383,185520,455042.0,661516.0,709176.0,https://images.gr-assets.com/books/1398034300m...,https://images.gr-assets.com/books/1398034300s...
8,9.0,960,960,3338963,311,1416524797,9.78141652479e+12,Dan Brown,2000.0,Angels & Demons,...,2001311.0,2078754.0,25112.0,77841,145740,458429.0,716569.0,680175.0,https://images.gr-assets.com/books/1303390735m...,https://images.gr-assets.com/books/1303390735s...
9,10.0,1885,1885,3060926,3455,679783261,9.78067978327e+12,Jane Austen,1813.0,Pride and Prejudice,...,2035490.0,2191465.0,49152.0,54700,86485,284852.0,609755.0,1155673.0,https://images.gr-assets.com/books/1320399351m...,https://images.gr-assets.com/books/1320399351s...

In [5]:
#Check for missing values
df.isna().sum()

book_id                         1
goodreads_book_id               0
best_book_id                    0
work_id                         0
books_count                     0
isbn                         1270
isbn13                       1053
authors                         1
original_publication_year      41
original_title               1071
title                           1
language_code                1971
average_rating                  1
ratings_count                   1
work_ratings_count              1
work_text_reviews_count         1
ratings_1                       1
ratings_2                       1
ratings_3                       2
ratings_4                       2
ratings_5                       2
image_url                       2
small_image_url                 3
dtype: int64

In [8]:
#Print top 3 columns with nulls
df.isnull().sum().sort_values(ascending=False).head(3)

language_code     1971
isbn              1270
original_title    1071
dtype: int64

In [46]:
#Using requests fetch multiple pages from Books to Scrape (simulate 3 pages)
#Parse titles from all pages using BeautifulSoup and store in a list

base_url = "https://books.toscrape.com/index.html"
books_info = requests.get(base_url).content
book_titles = []
for page_num in range(1,4):
  page_url =f"https://books.toscrape.com/catalogue/page-{page_num}.html"
  print(f"Fetching URL {page_url}")
  page = requests.get(page_url)
  soup = BeautifulSoup(page.text, "html.parser")
  books = soup.findAll(name="li",class_="col-xs-6 col-sm-4 col-md-3 col-lg-3")
  #books = soup.findAll("article", class_="product_pod")
  for book in (books):
    book_title = book.h3.a["title"]
    book_titles.append(book_title)

print(*book_titles, sep='\n')

Fetching URL https://books.toscrape.com/catalogue/page-1.html

/tmp/ipython-input-3330886347.py:12: DeprecationWarning: Call to deprecated method findAll. (Replaced by find_all) -- Deprecated since version 4.0.0.
  books = soup.findAll(name="li",class_="col-xs-6 col-sm-4 col-md-3 col-lg-3")

Fetching URL https://books.toscrape.com/catalogue/page-2.html
Fetching URL https://books.toscrape.com/catalogue/page-3.html
A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas
In Her Wake
How Music Works
Foolproof Preserving: A Guide to Small Batch Jams, Jellies, Pickles, Condiments, and More: A Foolproof Guide to Making Small Batch Jams, Jellies, Pickles, Condiments, and More
Chase Me (Paris Nights #2)
Black Dust
Birdsong: A Story in Pictures
America's Cradle of Quarterbacks: Western Pennsylvania's Football Factory from Johnny Unitas to Joe Montana
Aladdin and His Wonderful Lamp
Worlds Elsewhere: Journeys Around Shakespeareâs Globe
Wall and Piece
The Four Agreements: A Practical Guide to Personal Freedom
The Five Love Languages: How to Express Heartfelt Commitment to Your Mate
The Elephant Tree
The Bear and the Piano
Sophie's World
Penny Maybe
Maude (1883-1993):She Grew Up with the country
In a Dark, Dark Wood
Behind Closed Doors
You can't bury them all: Poems
Slow States of Collapse: Poems
Reasons to Stay Alive
Private Paris (Private #10)
#HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Tribe.
Without Borders (Wanderlove #1)
When We Collided
We Love You, Charlie Freeman
Untitled Collection: Sabbath Poems 2014
Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails & Other Wonders of the Urban Wilderness
Unicorn Tracks
Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink
Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2)
Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity
This One Summer
Thirst
The Torch Is Passed: A Harding Family Story
The Secret of Dreadwillow Carse
The Pioneer Woman Cooks: Dinnertime: Comfort Classics, Freezer Food, 16-Minute Meals, and Other Delicious Ways to Solve Supper!
The Past Never Ends
The Natural History of Us (The Fine Art of Pretending #2)